section.section.experience
    h3(data-aos='fade-right').section__h3 Work Experience
    div.experience__container
        div(data-aos='fade-up-right').experince__menu
            each item, index in experience
                button(type='button' class=`experience__btn ${index === 0 ? 'active' : ''}` data-index=index) #{item.company}
        div(data-aos='fade-up-left').experience__jobs
            each item, index in experience
                div(class=`jobs__block ${index === 0 ? 'active' : ''}` data-index=index)
                    h4 #{item.title} &nbsp;
                        a(href=item.link, target='_blank', rel='nofollow noopener noreferrer').jobs__link.text--secondary @#{item.company}
                    h5.text--dark-primary #{item.period}
                    ul.jobs__list
                        each action in item.actions
                            li #{action}
                    h5.mt-20 Technologies
                    ul.skills__list
                        each skill in item.skills
                          li.text--small.text--dark-primary #{skill}
