section.section.projects
    h3(data-aos='fade-right').section__h3 Featured Projects
    each project, index in projects
        div(class=index % 2 === 0 ? '' : 'reversed' data-aos=index % 2 === 0 ? 'fade-right' : 'fade-left').projects__block
            a(href=project.url, target='_blank', rel='nofollow noopener noreferrer').project__image.image__link
                img(src='/projects/' + project.name.toLowerCase() + '.png', alt=project.name, title=project.name)
            div.project__description
                h5.text--monospace.text--small.text--normal.text--secondary Featured Project
                h4
                    a(href=project.url, target='_blank', rel='nofollow noopener noreferrer', aria-label='External Link') #{project.name}
                div.project__about
                    p.text--dark-primary #{project.description}
                each tech in project.technologies
                    ul.project__technologies.text--monospace.text--dark-primary.text--small
                        if tech.label
                            li.text--secondary #{tech.label}:
                        each library in tech.libraries
                            li #{library}
                div.project__links.mt-20
                    if !project.withoutGithub
                        a(href=social[1].url + '/' + project.name.toLowerCase(), target='_blank', rel='nofollow noopener noreferrer' aria-label='Github Link')
                            img(src='/social/github.svg', alt='Github', title='Github').social__link
                    a(href=project.url, target='_blank', rel='nofollow noopener noreferrer' aria-label='External Link')
                        img(src='/social/link.svg', alt='External', title='External').social__link
